In [1]:
import numpy as np

In [2]:
edades = np.array([28,35,36,28,31,25]) 
peso = np.array([64, 54, 65, 78, 86, 60])
estatura = np.array([1.63, 1.60, 1.60, 1.85, 1.74, 1.76])

In [3]:
bmi = peso / estatura**2

print(bmi)

[24.08822312 21.09375    25.390625   22.79035793 28.40533756 19.36983471]

In [4]:
import pandas as pd

In [6]:
df = pd.DataFrame([edades,peso,estatura])
df

       0     1     2      3      4      5
0  28.00  35.0  36.0  28.00  31.00  25.00
1  64.00  54.0  65.0  78.00  86.00  60.00
2   1.63   1.6   1.6   1.85   1.74   1.76

In [10]:
dicc = {'Edad':edades, 'Peso': peso, 'Estatura':estatura, 'BMI':bmi}

In [11]:
df1 = pd.DataFrame(dicc)
df1

   Edad  Peso  Estatura        BMI
0    28    64      1.63  24.088223
1    35    54      1.60  21.093750
2    36    65      1.60  25.390625
3    28    78      1.85  22.790358
4    31    86      1.74  28.405338
5    25    60      1.76  19.369835